@use '/src/sass/libs/pxtorem.scss' as *;
@use '/src/sass/base/variables.scss'as *;

.activities {
    padding: 0 rem(10);
    padding-bottom: rem(20);
    &__title {
        margin-bottom: rem(20);
        text-align: center;
    }
    &__subtitle {
        margin-bottom: rem(40);
        text-align:center;
        a {
            text-decoration: none;
            color: $dark;
        }
    }
    &__img {
        margin: 0 auto;
        margin-bottom: rem(20);
    }
    &__text {
        margin-bottom:rem(40);
        font-size: rem(16);
        line-height:rem(28);
        a {
            color: orange;
            text-decoration: none;
        }
    }
}
@media (min-width: 768px){
    .activities {
        &__text {
            font-size: rem(20);
        }
        &__img {
            width: clamp(530px, 95.5vw, 1200px);
            height: auto;
        }
    }
}
@media (min-width: 1200px){
    .activities {
        display: flex;
        justify-content: space-between;
        gap:rem(20);
        &__store {
            width: 40%;
        }
        &__workshop{
             width: 60%;
        }
        &__title {
            margin-bottom: rem(80);
        }
        &__subtitle {
             margin-bottom: rem(60);
             font-size: rem(28);
        }
        &__img {
            height: rem(250);
            object-fit: cover;
            margin-bottom: rem(30);
        }
    }
}