@use '/src/sass/libs/pxtorem.scss' as *;
@use '/src/sass/base/variables.scss'as *;

.activities {
    padding: 0 rem(10);
    padding-bottom: rem(20);
    &__title {
        margin-bottom: rem(20);
        text-align: center;
    }
    &__subtitle {
        margin-bottom: rem(40);
        text-align:center;
    }
    &__img {
        margin-bottom: rem(20);
    }
    &__text {
        margin-bottom:rem(40);
        a {
            color: orange;
            text-decoration: none;
        }
    }
}