@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/libs/pxtorem.scss' as *;
.form {
    padding: 0 rem(20);
        .form__img {
            display: none;
        }
        .form__title {
        margin-bottom: rem(40);
        text-align: center;
        }
        .form-container {
            background: white;
            padding: rem(10);
            border-radius: rem(1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width:auto;
            text-align: left;
        }
        .form-group {
            margin-bottom: rem(15);
            text-align: left;
        }
        .form-group-chekbox {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: rem(20);
            .checkbox {
                width: rem(15);
                height: rem(15);
                margin-right: rem(15);
                 &:hover {
                    border-color:rgb(203, 12, 12);
                }
                &:active {
                background-color:rgb(203, 12, 12);
            }
            }
            a {
                text-decoration: none;
            }
        }
        .form__button {
            font-size: rem(16);
            width: rem(220);
            height: rem(40);
        }
        label {
            display: block;
            font-weight: 300;
            font-size: rem(16);
        }
        input, textarea {
            width: 100%;
            padding: rem(8);
            margin-top: rem(5);
            border: 1px solid #d9d7d7;
            border-radius: rem(1);
        }
   
     /* Фокус на полі */ 
         input:focus, textarea:focus {
         border-color: rgb(36, 173, 91);
        }
    /* Валідація: правильне введення */
         input:valid, textarea:valid {
         border-color: rgb(161, 157, 157);
        }
    /* Валідація: невірне введення (HTML5 required) */
         input:invalid, textarea:invalid {
         border-color: rgb(121, 5, 49);
        }
    /* Вимкнене поле */
        input:disabled, textarea:disabled {
        border-color: #f0f0f0;
        cursor: not-allowed;
        }
        .error {
            color: rgb(203, 12, 12);
            font-size: rem(12);
            margin-top: rem(5);
        }
        .success-message {
            display: none;
            color: rgb(5, 108, 5);
            font-size: rem(14);
            margin-bottom: rem(10);
        }
}
@media (min-width: 768px) {
    .form{
       .form-container {
        width: 50%;
    } 
    }
}
@media (min-width: 1200px) {
    .form {
       .form__wrapper {
       display: flex;
       justify-content: start;
       gap: rem(40);
    } 
    .form__img {
        display: block;
        min-width: rem(550);
        min-height: rem(335);
        object-fit: cover;
        width: 50%;
    }
       .form-container {
        width: 25%;
    }  
  }
}
@media (min-width: 1920px) {
    .form {
       padding: 0 rem(20); 
    }
}
