@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/libs/pxtorem.scss' as *;

// загальний контейнер section .form
.form {
    padding: 0 rem(20);
    padding-bottom: rem(60);
        .form__img {
            // приховуємо картинку, тільки на 1200 буде  display block
            display: none; 
        }
        .form__title {
        margin-bottom: rem(40);
        text-align: center;
        }
        .form-container {
            background:$white;
            // внутрішні відступи від краю контейнера до полів
            padding: rem(10);   
            border-radius: rem(1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            // ширина підлаштовується автоматично екрану
            width:auto;
        }
        //  це поля для вводу, відступи між ними 15px
        .form-group {
            margin-bottom: rem(15);

        }
        label {
            // block говорить, що кожне поле буде з нового рядка як блочні елементи+стиль тексту всередині
            display: block;
            font-weight: 300;
            font-size: rem(16);
            text-align: left;
        }
        input, textarea {
            // ширина полів буде = ширині форми
            width: 100%;
            // відступи між текстом і полем
            padding: rem(8);
            // відступ між placeholder і полем
            margin-top: rem(5);
            border: 1px solid #cac7c7;
            border-radius: rem(1);
            // вимикає стандартну рамку браузера при фокусі
            outline: none;
        }
         /* Ховер: змінюємо колір рамки */
        input:hover {
        border-color:$dark;
        }
         /* Фокус: поле активне */
         input:focus {
         border-color:  rgb(214, 132, 32);
        }
        /* Стилізація помилки */
         input.error {
        //  outline: none;
         border-color: rgb(193, 13, 49);
        }
        input.error:focus {
        box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
        .success-message {
            display: none;
            color: rgb(5, 108, 5);
            font-size: rem(14);
            margin-bottom: rem(10);
        }

         .form-group-chekbox {
         display: flex;
         justify-content: flex-start;
         margin-bottom: rem(20);
            a {
                text-decoration: none;
                margin-left: 3px;
            }
         
         /* Приховуємо стандартний чекбокс */
         input[type="checkbox"] {
            display: none;
            // accent-color:orange;
         }
        
         /* Кастомний чекбокс */
         .custom-checkbox {
            width: rem(15);
            height: rem(15);
            margin-right: rem(15);
            border: 1px solid #ccc;
            border-radius: 1px;
            display: inline-block;
            position: relative;
            transition: all 0.3s;
            cursor: pointer; 
        }
        .custom-agree {
            display: flex;
            align-items: center;
        }
         /* Наведення */
         label:hover .custom-checkbox {
         border-color: rgb(208, 153, 57);
         }

          /* При натисканні */
         label:active .custom-checkbox {
         background-color: rgb(249, 247, 244);
         }
         /* Коли чекбокс вибраний */
         input:checked + label .custom-checkbox {
          background-color: rgb(208, 153, 57);
          border-color: rgb(208, 153, 57);
        }

         /* Галочка */
         input:checked + label .custom-checkbox::after {
         content: "✔";
         position: absolute;
         top: -2px;
         left: 4px;
         color: white;
         font-size: 14px;
         font-weight: normal;
        }
         .error {
         color: red;
         font-size: 16px;
         text-align: left;
         margin-left: 10px;
        }
    }

}

@media (min-width: 768px) {
    .form {
       .form-container {
        width: 50%;
      } 
   }
}
@media (min-width: 1200px) {
    .form {
       .form__wrapper {
       display: flex;
       justify-content: start;
       gap: rem(40);
    } 
    .form__img {
        display: block;
        min-width: rem(550);
        min-height: rem(335);
        object-fit: cover;
        width: 50%;
    }
       .form-container {
        width: 30%;
    }  
  }
}
@media (min-width: 1920px) {
    .form {
       padding: 0 rem(20); 
    }
}
