@use '/src/sass/base/variables.scss' as v;
@use '/src/sass/libs/pxtorem.scss' as *;

.header {
    &__top {
    display: flex;
    justify-content: space-between; 
    }
    &__icons {
    display: flex;
    color: v.$dark;
    align-items: start;
    a {
        display: flex;
        margin-right: rem(15);
        &:nth-child(2) {
            margin-right: rem(0);
        }
    }
    &_img {
        width: rem(15);
        height: rem(15);
        display: block;
    }
}
   &__logo {
    width: rem(80);
    height: rem(80);
   }
   &__nav {
    display: none;
    }
}

.menu {
    padding-right: rem(25);
    height: rem(23);
    span {
        // display: block; так як span рядковий елемент, тому назначаємо block
        display: block;
        width: rem(20);
        height: rem(1);
        margin-bottom: rem(8);
        background-color:v.$dark;
    }
}

@media (min-width: 768px) {
   .header__nav {
    display: block;
   }
      ul {
        display: flex;
        justify-content: center;
        gap: rem(30);
        padding: 0;
        margin-top: rem(20);
        li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color:v.$dark;
            text-transform: uppercase;
            font-size: rem(20);
        }
      }
    .menu {
    visibility: hidden;
  }
}
@media (min-width: 1200px)  {
    .header__top {
        justify-content: flex-end;
        gap: rem(270);
    }
    .header__logo {
        width: rem(100);
        height: rem(100);
    }
    .header__nav {
        ul {
            justify-content: flex-end;
            margin-right: rem(250);

        }
    }
}
@media (min-width: 1250px)  {
    .header__top {
       
        gap: rem(320);
    }
    .header__nav {
        ul {
            margin-right: rem(280);

        }
    }
}
@media (min-width: 1300px)  {
    .header__top {
       
        gap: rem(370);
    }
    .header__nav {
        ul {
            margin-right: rem(320);

        }
    }
}
@media (min-width: 1400px)  {
    .header__top {
       
        gap: rem(430);
    }
    .header__nav {
        ul {
            margin-right: rem(400);

        }
    }
}

@media (min-width: 1490px) {
    .header__top {
        justify-content: space-between; 
    }  
    .header__nav {
        ul {
            justify-content: center;
            margin-right: rem(0);
        }
    }
}
@media (min-width: 1920px) {
     .header__top {
        justify-content: flex-end; 
        gap: rem(530);
    } 
    .header__logo {
        width: rem(150);
        height: rem(150);
    }
    .header__nav {
        margin-top:rem(36);
        ul {
            justify-content: flex-end;
            gap: rem(60);
            margin-right:rem(510); 
        }
    }

}




