@use '/src/sass/libs/pxtorem.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.promo {
    position: relative;
    padding: rem(50) 0 rem(50) 0;
    &__wrapper {
        margin-top: rem(50);
    }
    &__title {
        margin-bottom: rem(40);
        text-align: center;
    }
    &__img {
        width: rem(270);
        height: rem(380);
        margin: 0 auto;
    }
    &__button {
        display: block;
        margin: rem(20) auto 0 auto;
    }
    &__pottery {
        display: none;
    }
}
@media (min-width: 768px) {
    .promo__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .promo__img {
        width: rem(230);
        height: rem(320);
    }
    .promo__title {
        text-align: left;
        margin-top: rem(320);
        margin-left: rem(70);
    }
}
@media (min-width: 1200px){
    .promo__wrapper {
        justify-content: space-evenly;
    }
    .promo__pottery {
        position: absolute;
        display: block;
        top:0;
        left: 0;
        // width:  clamp(450px, 37.5vw, 640px);
        width: rem(450);
        height: rem(630);
        object-fit: cover;
    }
    .promo__title {
        margin-left: rem(450);
        margin-top: rem(260);
    }
}
@media (min-width: 1920px) {
    .promo {
        padding-top: rem(40);
    }
     .promo__wrapper {
        margin-top: rem(70);
    }
     .promo__pottery{
        width: rem(640);
        height: rem(900);
     }
     .promo__title {
        margin-left: rem(620);
        margin-top: rem(400);
     }
     .promo__img {
        width: rem(330);
        height: rem(480);
     }
     .promo__button {
        margin-top: rem(50);
     }
}
