@use '/src/sass/libs/pxtorem.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.promo {
    padding: rem(50) 0 rem(50) 0;
    &__wrapper {
        margin-top: rem(50);
    }
    &__title {
        margin-bottom: rem(40);
        text-align: center;
    }
    &__img {
        width: rem(270);
        height: rem(380);
        margin: 0 auto;
    }
    &__button {
        display: block;
        margin: rem(20) auto 0 auto;
    }
}
@media (min-width: 768px) {
    .promo__wrapper {
        display: flex;
        justify-content: space-between;
    }
    .promo__img {
        width: rem(230);
        height: rem(320);
    }
    .promo__title {
        text-align: left;
        margin-top: rem(320);
        margin-left: rem(70);
    }
}
