@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/libs/pxtorem.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.button-default {
    @include button;
    width: rem(230);
    height: rem(50);
    font-size:rem(20);  
    }
    @media (min-width: 1200px){
        .button-default {
            &:hover {
                background-color: $dark;
                color: $white;
            }
            &:active{
                color: $dark;
                background: rgba(217, 217, 217, 0.1);
                box-shadow:  0px 0px 10px 1px rgba( 0, 0, 0, 0.4) inset;
                border: none;
            }
        }
    }
    @media (min-width: 1920px) {
        .button-default {
            width: rem(330);
            height: rem(60);
            font-size:rem(20); 
        }
    }
    .button-request {
    @include button;
    width: rem(220);
    height: rem(40);
    font-size:rem(16); 
    &:hover {
        border-color:rgb(208, 153, 57);
        } 
    &:active{
        border-color:rgb(208, 153, 57);
        color: rgb(208, 153, 57);
    }
    }
    .button-submit {
       width: rem(80);
       height: rem(35);
       background-color:transparent;
       border-color:$white;
       color: $white;
       text-transform: uppercase;
       font-size: rem(16);
    }