@use '/src/sass/libs/pxtorem.scss' as *;
@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.title-h1-italic {
@include title;
font-style: italic;
font-size:rem(19);
}
@media (min-width: 1920px) {
    .title-h1-italic {
        font-size: rem(32);
    }
}
.title-h1 {
@include title;
font-size:rem(32);
font-weight: 500;
}

.subtitle-h1 {
    @include title;
    font-size:rem(20);
}