@use '/src/sass/libs/pxtorem.scss' as *;
@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.title-h1-italic {
@include title;
font-style: italic;
font-size:rem(19);
}
@media (min-width: 1920px) {
    .title-h1-italic {
        font-size: rem(32);
    }
}
.title-h1 {
@include title;
font-size:rem(32);
font-weight: 500;
}
@media (min-width: 768px) {
    .title-h1 {
        font-size: rem(32);
    }
}
@media (min-width: 1200px) {
    .title-h1 {
        font-size: rem(40);
    }
}

.subtitle-h1 {
    @include title;
    font-size:rem(20);
}
@media (min-width: 768px) {
   .subtitle-h1{
        font-size: rem(24);
    }
}
.title-h2 {
    @include title;
    font-size: rem(16);
    color: $white;
    margin-bottom:rem(40);
}